{% load staticfiles %}
<div class="welcome-container container">
    <div class="welcome-title">准备好了吗？</div>
    <div class="welcome-des">你心动了么？快快联系我们吧！</div>
    <div class="flex-center">
      <div class="contact-content">
        <div class="flex alcenter">
          <img src="{% static 'images/qq@2x.png' %}" alt="">
          <div>QQ: 1294928442</div>
        </div>
        <div class="flex alcenter">
          <img src="{% static 'images/index_zhidao@2x.png' %}" alt="">
          <div>电话: 13611267041 或 18210042149(微信同号)</div>
        </div>
        <div class="flex alcenter">
          <img src="{% static 'images/youxiang@2x.png' %}" alt="">
          <div>邮箱: shiji_marke_app@163.com 或 shiji_app2020@163.com </div>
        </div>
      </div>
      <div class="code-container flex-column flex-center">
        <img src="{% static 'images/weixin.png' %}" alt="" class="code-img">
        <div>请关注官方微信号</div>
      </div>
    </div>
</div>
