{% load staticfiles %}
<div class="container">
  <div class="flex alcenter links flex-wrap">
    <div class="footer-title col-xs-12 col-sm-12 col-md-3 col-lg-3">市集</div>
    <div class="link-item col-xs-4 col-sm-4 col-md-2 col-lg-2">关于我们</div>
    <div class="link-item col-xs-4 col-sm-4 col-md-2 col-lg-2">服务协议</div>
    <div class="link-item col-xs-4 col-sm-4 col-md-2 col-lg-2">隐私条款</div>
  </div>
  <div class="copy-right">
    <div>© 2018-2020 知鱼网络（天津）科技有限公司 | 知鱼网络（贵州）科技有限公司 | All Rights Reserved</div>
    <div>友情链接： 木姜子科技 | 知鱼财经 | 问我学院</div>
  </div>
</div>
