{% load staticfiles %}
<div class="dialog-content">
  <div class="dialog-title flex-center">
    <div>申请试用</div>
    <img src="{% static 'images/close.png' %}" alt="" class="close-img">
  </div>
  <div class="dialog-form">
    <div class="form">
      <div class="form-group">
        <label for="name">姓名<span class="required">*</span></label>
        <input type="text" name="user_name" class="form-control">
      </div>
      <div class="form-group">
        <label for="name">电话<span class="required">*</span></label>
        <input type="text" name="phone" class="form-control">
      </div>
      <div class="form-group">
        <label for="name">微信<span class="required">*</span></label>
        <input type="text" name="weichat" class="form-control">
      </div>
      <div class="form-group">
        <label for="name">邮箱<span class="required">*</span></label>
        <input type="text" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="name">需求简述<span class="required">*</span></label>
        <input type="text" name="describe" class="form-control describe">
      </div>
      <div class="submit-btn flex-center" onclick="CreateMsg(this)">立即试用</div>
    </div>
  </div>
</div>
